{% extends 'shablon.html' %}

{% block title %}
    Characters of Harry Potter universe
{% endblock %}

{% block content %}

    <div class="row row-cols-1 row-cols-md-2 g-4">
      <div class="col">
        <div class="card">
          <img src="../static/images/images.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Harry Potter</h5>
            <p class="card-text">Harry Potter is a series of seven fantasy novels written by British author J. K. Rowling. The novels chronicle the lives of a young wizard, Harry Potter, and his friends, Hermione Granger and Ron Weasley, all of whom are students at Hogwarts School of Witchcraft and Wizardry.</p>
            <a href="#" class="btn btn-outline-success">Redirect</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <img src="../static/images/images1.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Voldemort</h5>
            <p class="card-text">Tom Riddle discovered his muggle inheritance, his hatred towards both his family and magical society increased, leading him to the path of evil and to adopt the moniker Lord Voldemort</p>
            <a href="#" class="btn btn-outline-success">Redirect</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <img src="../static/images/images2.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Professor Rubeus Hagrid</h5>
            <p class="card-text">(b. 6 December 1928) was an English half-giant wizard, son of Mr Hagrid and the giantess Fridwulfa, and elder half-brother of the giant Grawp. Hagrid stood at eleven feet, six inches tall. Hagrid attended Hogwarts School of Witchcraft and Wizardry in 1940 and was sorted into Gryffindor house.</p>
            <a href="#" class="btn btn-outline-success">Redirect</a>
          </div>
        </div>
      </div>
    </div>

{% endblock %}