<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{caption}}</title>
</head>
<body>

<!-- 1.   {% if user %}
        <p>You entered with name {{user}}</p>
   {% endif %} # Это конец блока if. В HTML нужно указывать конец, потому что отступы работают не так, как в Python

     2.   <p>You need to upload {{number}}
    {% if number == 1%}
        post
    {% elif 2<=number <= 4 %}
        posts
    {% else  %}
        posts
    {% endif %}
         </p>

    3.  <p>
        {% for user in list %}
            {{user}}
        {% endfor %}
        </p> -->


</body>
</html>